[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./globerce_credit_application/config/*,
       ./globerce_credit_application/wsgi.py,
       *__init__*
